#SB-picker::-webkit-color-swatch-wrapper {
	padding: 0
}
#SB-picker::-moz-color-swatch {
	padding: 0
}
#cartography-container .sb-menu {
	margin: 0!important;
}
sb-tooltip .sb-tooltip {
	display: none;
	width: max-content;
	max-width: 350px;
	position: absolute;
	top: 0;
	left: 0;
	background: #222;
	color: #fff;
	border-radius: 4px
}
sb-tooltip .sb-main-tooltip {
	z-index: 1000011
}
sb-tooltip .sb-alt-tooltip {
	z-index: 10010
}
sb-tooltip .sb-tooltip .sb-tooltip-content {
	max-height: min(40vh,400px);
	overflow: auto;
	padding: 5px 10px
}
sb-tooltip .sb-tooltip-arrow {
	position: absolute;
	background: #222;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
}
[data-sbTooltipContent] {
    display: none;
}
.sb-menu.sb-combat-menu {
	font-size: .95rem
}
.sb-category {
	text-align: center;
	white-space: nowrap!important;
	font-weight: 500;
	padding-bottom: 4px
}
.sb-header {
	border-radius: .25rem;
	margin-top: .25rem;
	margin-bottom: .25rem;
	padding-left: .25rem;
	padding-right: .25rem;
}
.sb-icon {
	position: relative;
	border-radius: 5px;
	cursor: pointer
}
.sb-synergy-icon {
	position: relative;
	border-radius: 5px;
	cursor: pointer;
	height: 40px;
	width: 88px;
	margin: 4px
}
.sb-input {
	margin: none;
	padding: 4px;
	height: 32px;
}
.sb-btn {
	padding: 0;
	font-size: .8rem;
	height: 28px!important
}
.sb-picker {
	position: relative;
	border-radius: 5px;
	height: 40px;
	width: 40px;
	padding: 0;
	border: 0;
	cursor: pointer
}
.pill-center {
	position: absolute;
	bottom: -.4rem;
	left: 50%;
	transform: translate(-50%, 0%);
	white-space: nowrap;
	font-size: 0.75rem;
	font-weight: 400
}
.sb-badge {
	padding: .175em .4em;
	font-size: 75%;
	font-weight: 600;
	white-space: nowrap;
	border-radius: .25rem;
}
.poi-inline-icon {
	position: relative;
	height: 10px;
	margin-bottom: 2px
}
.icon-xs-sb {
	height: 20px;
	width: 20px
}
.inactive-sb {
	position: absolute;
	top: 1px;
	left: 1px;
	height: 16px;
	width: 16px
}
.sb-inactive-sm {
	position: absolute;
	top: 1px;
	left: 1px;
	height: 13px;
	width: 13px
}
.synergy-locked {
	position: absolute;
	top: 4px;
	left: 28px;
	height: 32px;
	width: 32px
}
.resize-28 {
	height: 28px;
	width: 28px;
}
.sb-font-sm {
	font-size: .825rem
}
.sb-font-2sm {
	font-size: .775rem
}
.max-448px {
	max-width: 448px
}
.btn-sm-sb {
	min-width: 56px;
	font-size: 0.75rem;
}
.min-4-icons {
	min-width: 192px
}
.text-warning-disabled,body.darkMode .text-warning-disabled {
	color: #e5ae67!important;
	text-decoration: line-through
}
.sb-pre-line {
	white-space: pre-line;
}
.sb-left {
	margin-left: 0!important
}
@media(max-width: 767px) {
	.px-3-sb {
		padding-left: 1rem;
		padding-right: 1rem
	}
	.sb-category {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	#combat-container .px-3-sb {
		padding-left: 0;
		padding-right: 0
	}
}
@media(min-width: 768px) {
	.sb-menu .sb-category {
		margin-left: 8px;
		margin-right: 8px
	}
	.sb-menu .sb-other {
		margin-right: 0!important
	}
}
@media(min-width: 768px) and (max-width: 1149px) {
	.sb-menu .sb-other {
		margin-right: 0;
		margin-left: 0;
		-ms-flex: 0 0 100%!important;
		flex: 0 0 100%!important;
		max-width: 100%!important
	}
}
@media(max-width: 1149px) {
	.sb-menu .sb-right {
		margin-right: 0!important
	}
}
@media(min-width: 1150px) {
	.sb-combat-menu .sb-category {
		margin-left: 8px;
		margin-right: 8px
	}
	.sb-menu .sb-other {
		margin-right: 0!important
	}
}
@media(min-width: 1150px) and (max-width: 1349px) {
	.sb-combat-menu .sb-other {
		margin-right: 0;
		margin-left: 0;
		-ms-flex: 0 0 100%!important;
		flex: 0 0 100%!important;
		max-width: 100%!important
	}
}
@media(max-width: 1349px) {
	.sb-combat-menu .sb-right {
		margin-right: 0!important
	}
	.sb-combat-menu .sb-category {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
}
@media(min-width: 1350px) {
	.sb-combat-menu .sb-other {
		margin-right: 0!important
	}
}